In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs

In [42]:
url="https://www.imdb.com/chart/top-english-movies/"
page=requests.get(url).content
imdb=bs(page,'html.parser')
#print(imdb.prettify())

In [43]:
title=imdb.findAll('td',class_='titleColumn')
links=[]
for i in title:
    l1=i.a
    l2=l1.get('href')
    l3="https://www.imdb.com"+l2+"?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=82625082-5d44-4ca0-b1f0-5cb183544bf4&pf_rd_r=42FJHHXJH6T34ABA8QYQ&pf_rd_s=center-2&pf_rd_t=15506&pf_rd_i=topenglish&ref_=chttentp_tt_1"
    links.append(l3)

In [44]:
ratings=imdb.find_all('strong')
rating=[]
for i in ratings:
    j1=i.text.strip()
    rating.append(j1)

In [45]:
images=imdb.find_all('img')
movie_image=[]
for i in images:
    j2=i.get('src')
    movie_image.append(j2)

In [46]:
# Getting title
movie_title=[]
for tit in title:
    t=tit.a.text
    movie_title.append(t)

In [47]:
 # Getting year
movie_year=[]
for y in title:
    year=y.span.text
    movie_year.append(year[1:5])

In [48]:
data = {
    'Movie Name':movie_title,
    'Rating':rating,
    'Movie Year':movie_year,
    'Links':links,
    'Movie':movie_image
}

In [49]:
df = pd.DataFrame(data)

In [50]:
df.head()

,Movie Name,Rating,Movie Year,Links,Movie
0,The Shawshank Redemption,9.3,1994,https://www.imdb.com/title/tt0111161/?pf_rd_m=...,https://m.media-amazon.com/images/M/MV5BMDFkYT...
1,The Godfather,9.2,1972,https://www.imdb.com/title/tt0068646/?pf_rd_m=...,https://m.media-amazon.com/images/M/MV5BM2MyNj...
2,The Dark Knight,9.0,2008,https://www.imdb.com/title/tt0468569/?pf_rd_m=...,https://m.media-amazon.com/images/M/MV5BMTMxNT...
3,The Godfather Part II,9.0,1974,https://www.imdb.com/title/tt0071562/?pf_rd_m=...,https://m.media-amazon.com/images/M/MV5BMWMwMG...
4,12 Angry Men,9.0,1957,https://www.imdb.com/title/tt0050083/?pf_rd_m=...,https://m.media-amazon.com/images/M/MV5BMWU4N2...

In [51]:
df.to_csv('IMDB Movies.csv',sep='\n',index=False,header=False)

In [52]:
df.to_json('IMDB Movies.json')